@charset "UTF-8";

/* Mobile First */

/* 
Paleta de cores
Verde: #49a09d;
lilas: #5f2c82;

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/mobile-19x14-8481895\.jpg) no-repeat ;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > span{
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 30px;
    height: 5px;
    transform: translateY(90%);
}

div.campo > input{
    background-color: #94cfcd;
    font-size: 1em;
    /* width: calc(100%-30px); */
    width: 85%;
    height: 100%;
    transform: translateY(-6px);
    border-radius: 8px;
    /* padding: 4px; */
}

div.campo > input:focus-within{
    background-color: white;

    
}

div.campo > label{
    display: none;
}

form > input[type = submit]{
    margin-top: 10px;
    margin-bottom: 4px;
}

/* form > input[type = reset]{
    margin-bottom: 10px;

} */

form > input[type = submit],input[type = reset]{
    display: block;
    font-size: 1em;
    width: 100%;
    /* height: 50%; */
    height: 27px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type = submit]:hover,input[type = reset]:hover{
    background-color: #2d6462;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    /*margin-top: 4px;*/
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
    transform: translateY(-23%);
}

form > a.botao:hover{
    background-color: #6cd3cf;
    color: white;
}

form > a.botao > span{
    font-size: 1em;
}



